- name: restart celery
  service: name="celeryd" state=restarted enabled=true

- name: restart celerybeat
  service: name="celerybeat" state=restarted enabled="{{ cron_enabled }}"
  when: cron_enabled|bool
