{% extends "base.html" %}
{% load static sekizai_tags vuestrap %}
{% block title %}#{{ order.id }} {{ order.product.name }} for {{ order.buyer.username }} by {{ order.seller.username }}{% endblock %}
{% block vue_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.2/markdown-it.min.js"></script>
    <script src="{% static 'js/URI.min.js' %}"></script>
    {% include "sales/includes/charge_card.html" %}
    {% include "lib/includes/comment.html" %}
    {% include "lib/includes/new_comment.html" %}
    <script>
        var md = markdownit();
        artconomy_params.data.order = null;
        artconomy_params.data.characterList = [];
        artconomy_params.data.commentList = null;
        artconomy_params.data.cardList = null;
        artconomy_params.data.revisions = null;
        artconomy_params.data.loadCount = 0;
        artconomy_params.data.controls = false;
        artconomy_params.data.reader = '{{ request.user.username }}';
        artconomy_params.data.is_buyer = {{ is_buyer|lower }};
        artconomy_params.data.is_seller = {{ is_seller|lower }};
        artconomy_params.data.buyer = '{{ order.buyer.username }}';
        function populate_order(response) {
            artconomy.$data.order = response;
            artconomy.$data.characterList = response.characters;
            artconomy.$data.loadCount += 1;
            loadMarker()
        }
        function update_order(response) {
            artconomy.$refs.order.order = response;
            artconomy.$data.characterList = response.characters;
        }
        function populate_comments(response) {
            artconomy.$data.commentList = response;
            artconomy.$data.loadCount += 1;
            loadMarker()
        }
        function populate_cards(response) {
            artconomy.$data.cardList = response;
            loadMarker()
        }
        function populate_revisions(response) {
            artconomy.$data.revisions = response;
            loadMarker()
        }
        function loadMarker() {
            var target = 3;
            if (artconomy_params.data.is_buyer) {
                target += 1;
            }
            if (artconomy_params.data.loadCount === target) {
                Vue.nextTick(function () {artconomy.loaded = true});
            }
        }
        artCall('/sales/api/order/{{ order.id }}/', 'GET', undefined, populate_order);
        artCall('/sales/api/order/{{ order.id }}/comments/', 'GET', undefined, populate_comments);
        if (artconomy_params.data.is_buyer) {
            artCall('/sales/api/{{ order.buyer.username }}/cards/', 'GET', undefined, populate_cards);
        }
        artCall('/sales/api/order/{{ order.id }}/revisions/', 'GET', undefined, populate_revisions);
        {% vuestrap adjustment_form "ac-adjustment-form" %}
        AcAdjustmentForm[1].methods.success = function (response) {
            this.container.order = response;
        };
        Vue.component.apply(Vue, AcAdjustmentForm);
        Vue.component(
            'ac-order',
            {
                'props': ['instance', 'buyer'],
                'template': fetchTemplate('order-template'),
                'methods': {
                    'parseProductDesc': function () {
                        return md.render(this.order.product.description)
                    },
                    'parseDetails': function () {
                        return md.render(this.order.details)
                    },
                    'price': function () {
                        var base_price;
                        if (this.order.price){
                            base_price = Number(this.order.adjustment);
                        } else {
                            base_price = Number(this.order.product.price)
                        }
                        return (base_price + Number(this.order.adjustment)).toFixed(2)
                    },
                    'accept': function () {
                        artCall('/sales/api/order/{{ order.id }}/accept/', 'POST', undefined, update_order);
                    },
                    'cancel': function () {
                        artCall('/sales/api/order/{{ order.id }}/cancel/', 'POST', undefined, update_order);
                    },
                    'refund': function () {
                        artCall('/sales/api/order/{{ order.id }}/refund/', 'POST', undefined, update_order);
                    },
                    'addComment': function (comment) {
                        artconomy.$data.commentList.push(comment)
                    }
                },
                'data': function () {
                    return {'order': this.instance}
                },
                'computed': {
                    'new_order': function () {
                        return this.order.status === 1;
                    },
                    'payment_pending': function () {
                        return this.order.status === 2;
                    },
                    'queued': function () {
                        return this.order.status === 3;
                    },
                    'cancelled': function () {
                        return this.order.status === 6;
                    }
                }
            }
        );
    </script>
    {% include "profiles/includes/character.html" %}
    {% include "sales/includes/revisions.html" %}
    {% addtoblock "vue_templates" %}
        <script type="text/x-template" id="order-template">
            <div id="order" class="card">
                {% verbatim %}<div class="card-header">Order #{{ order.id }}, {{ order.product.name }}</div>{% endverbatim %}
                <div class="card-block" v-html="parseProductDesc()"></div>
                <div class="card-header">Customer Notes</div>
                <div class="card-block" v-html="parseDetails()"></div>
                <div class="card-header">Pricing</div>

                    <div class="card-block">
                        <div>{% verbatim %}{{ order.product.name }}: ${{ order.product.price }}{% endverbatim %}</div>
                        <div v-if="order.adjustment">
                            <span v-if="order.adjustment > 0">Custom options:</span>
                            <span v-else>Discount: </span>
                            {% verbatim %}${{ order.adjustment }}{% endverbatim %}
                        </div>
                        <div><strong>{% verbatim %}Total: ${{ price() }}{% endverbatim %}</strong></div>
                    </div>
                <div v-if="$root.is_seller && new_order" class="card-block">
                    <p>You may adjust the price here either up or down depending on the needs of the individual commission.
                    </p>
                    <p>
                        <strong>Note:</strong> Only one adjustment may be used. Therefore, please include all
                        discounts and increases in the adjustment price. Be sure to comment so that the commissioner
                        will see your reasoning. Do not approve a request until you have added your adjustment, as that
                        will finalize the price.
                    </p>
                    <ac-adjustment-form ref="adjustment" :container="this" :url="'/sales/api/order/' + order.id + '/adjust/'"
                                      method="PATCH" succ="Price adjustment set." :initial="order">
                        <div slot="footer">
                            <button class="btn btn-primary" @click.prevent="this.artconomy.$refs.order.$refs.adjustment.submit">Set Adjustment</button>
                        </div>
                    </ac-adjustment-form>
                </div>
                <div class="card-header">Characters:</div>
                <div id="character-list" role="tablist" aria-multiselectable="true">
                    <ac-character
                            v-for="char in $root.characterList"
                            v-bind:character="char"
                            v-bind:key="char.id"
                            v-bind:expanded="false"
                            :characterlist="$root.characterList"
                    >
                    </ac-character>
                </div>
                <div v-b-toggle.agreement class="card-header">Click here to view agreement</div>
                <b-collapse id="agreement">
                    <div class="card-block">
                        {% include "sales/agreement.html" %}
                    </div>
                </b-collapse>
                <div v-if="$root.revisions !== null" class="card-header">Revisions</div>
                <div v-else class="text-center" style="width:100%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
                <div class="revision-section">
                    <ac-revision
                        v-for="revision in $root.revisions"
                        :revisionobj="revision"
                        :key="revision.id"
                        :url="'/sales/api/order/' + order.id + '/revisions/' + revision.id + '/'"
                        :revisions="$root.revisions"
                        :controls="$root.is_seller"
                    >
                    </ac-revision>
                    <ac-new-revision v-if="$root.is_seller" :url="'/sales/api/order/' + order.id + '/revisions/'">
                    </ac-new-revision>
                </div>
                <div class="card-header">Comments</div>
                <div class="comment-section">
                    <ac-comment
                            v-for="comment in $root.commentList"
                            :commentobj="comment"
                            :key="comment.id"
                            :reader="$root.reader"
                            v-if="$root.commentList !== null"
                            :nesting="true"
                            :toplevel="true"
                    >
                    </ac-comment>
                    <div v-else class="text-center" style="width:100%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
                </div>
                <ac-new-comment v-if="$root.commentList !== null" :parent="this" :url="'/sales/api/order/' + order.id + '/comments/'"></ac-new-comment>
                <div v-if="new_order" class="card-block">
                    <p>This is a new order, and has not yet been accepted by the artist.</p>
                    <b-button v-if="$root.is_buyer" @click="cancel" variant="danger">Cancel</b-button>
                    <b-button v-if="$root.is_seller" @click="cancel" variant="danger">Decline</b-button>
                    <b-button v-if="$root.is_seller" @click="accept" variant="success">Accept</b-button>
                </div>
                <div v-if="payment_pending" class="card-block">
                    <p>This order has been accepted by the artist and requires payment to be queued for completion.</p>
                    <b-button variant="danger" @click="cancel">Cancel</b-button>
                    <b-button v-if="$root.is_buyer" @click="$refs.payment.$refs.paymentModal.show()" variant="success">Pay to complete order</b-button>
                </div>
                <div v-if="queued" class="card-block">
                    <p>This order is currently queued and will be completed by the artist.</p>
                    <b-button variant="danger" v-if="$root.is_seller" @click="refund">Cancel and Refund</b-button>
                </div>
                <div v-if="cancelled" class="card-block">
                    <p>This order has been cancelled.</p>
                </div>
                <ac-charge-card v-if="$root.cardList !== null" ref="payment" :order="this" :customer="buyer"></ac-charge-card>
            </div>
        </script>
    {% endaddtoblock %}
{% endblock %}
{% block content %}
    <div class="container">
        <ac-order v-if="order" ref="order" :instance="order" :buyer="buyer"></ac-order>
        <div v-else class="text-center" style="width:100%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
        <div class="m-5"></div>
    </div>
{% endblock %}