{% extends "base.html" %}
{% load static %}
{% block vue_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.2/markdown-it.min.js"></script>
    <script src="{% static 'js/URI.min.js' %}"></script>
    <script>
        var md = markdownit();
    </script>
    {% include 'sales/includes/product.html' %}
    <script>
        artconomy_params.data.product = null;
        artconomy_params.data.detail = true;
        artconomy_params.data.characterList = null;
        artconomy_params.data.loadCount = 0;
        function loadMarker() {
            if (artconomy.$data.loadCount === 2) {
                Vue.nextTick(function () {artconomy.loaded = true});
            }
        }
        function populate_product(response) {
            artconomy.$data.product = response;
            artconomy.data.loadCount += 1;
            loadMarker()
        }
        function populate_characters(response) {
            artconomy.$data.characterList = response;
            artconomy.data.loadCount += 1;
            loadMarker()
        }
        artCall('/sales/api/{{ target_user.username }}/products/{{ product.id }}/', 'GET', undefined, populate_product);
        artCall('/profiles/api/{{ request.user.username }}/characters/', 'GET', undefined, populate_characters);
    </script>
    {% include "sales/includes/product_management.html" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <ac-product v-if="product" :product="product"></ac-product>
        </div>
    </div>
{% endblock %}