{% extends "base.html" %}
{% load static %}
{% block vue_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.2/markdown-it.min.js"></script>
    <script src="{% static 'js/URI.min.js' %}"></script>
    <script>
        var md = markdownit();
    </script>
    {% include 'sales/includes/product.html' %}
    <script>
        artconomy_params.data.productList = null;
        artconomy_params.data.controls = {{ controls|lower }};
        artconomy_params.data.detail = false;
    </script>
    <script>
        function populate_products(response) {
            artconomy.$data.productList = response;
            Vue.nextTick(function () {artconomy.loaded = true});
        }
        artCall('/sales/api/{{ target_user.username }}/products/', 'GET', undefined, populate_products)
    </script>
    {% include "sales/includes/product_management.html" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div id="product-list" class="row">
            <ac-product
                    v-for="product in productList"
                    v-bind:product="product"
                    v-bind:key="product.id"
                    v-if="productList !== null"
            >
            </ac-product>
            <div v-else class="text-center" style="width:100%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
        </div>
        <div class="row" v-if="controls">
            <div class="col-sm-12 pt-3 text-center">
                <b-button variant="primary" size="lg" @click="showNewProduct()" id="new-char-button">Add a new product</b-button>
                <ac-new-product ref="newProduct" class="text-left"></ac-new-product>
            </div>
        </div>
        <div class="m-5"></div>
    </div>
{% endblock %}