{% extends 'email_base.html' %}
{% block header_message %}Order Update!{% endblock %}
{% block message %}
{% if target.status == 2 %}
Your order has been accepted by the artist and is ready for payment!
{% elif target.status == 4 %}
The artist has begun work on your order.
{% elif target.status == 5 %}
Your order is ready for review!
{% elif target.status == 8 %}
Your order has been completed!
{% elif target.status == 9%}
Your order has been refunded.
{% else %}
Your order has been updated!
{% endif %}
{% endblock message %}

{% block action %}
<a href="/orders/{{target.buyer.username}}/order/{{target.id}}/">View your order here!</a>
{% endblock %}