{% extends 'email_base.html' %}
{% block header_message %}Update!{% endblock %}
{% block message %}
{% if target.status == 0 %}
Your order has been placed into the artist's waitlist. We will update you if they accept your order request!
{% elif target.status == 1 %}
Your order has been placed and will be reviewed by the artist soon. We will update you once they have accepted your commission!
{% elif target.status == 2 %}
Your order has been accepted by the artist and is ready for payment!
{% elif target.status == 4 %}
The artist has begun work on your order. {% if target.stream_link %}<a href="{{target.stream_link}}">They're streaming the work here!</a> {% endif %}
{% elif target.status == 5 %}
Your order is ready for review!{% if target.auto_finalize_on %} It will auto finalize on {{target.auto_finalize_on}}.{% endif %}
{% elif target.status == 6 %}
Your order has been cancelled.
{% elif target.status == 8 %}
Your order has been completed!
{% elif target.status == 9 %}
Your order has been refunded.
{% else %}
Your order has been updated!
{% endif %}
{% endblock message %}

{% block action %}
{% if target.order.buyer.guest %}
<a href="/claim-order/{{target.order.id}}/{{target.order.claim_token}}/{{target.id}}">View your order here!</a>
{% else %}
<a href="/orders/{{target.order.buyer.username}}/order/{{target.order.id}}/deliverables/{{target.id}}">View your order here!</a>
{% endif %}
{% endblock %}
