{% extends 'email_base.html' %}
{% load md2 %}
{% block header_message %}{% if target.status == 1 %}New Sale!{% else %}Sale update!{% endif %} #{{target.id}} (From order #{{target.order.id}}){% endblock %}
{% block message %}
{% if target.status == 1 or target.status == 0 %}
<p>You have a new sale of your product, "{{target.product.name}}" to {%if target.order.buyer.guest %}{% if target.order.buyer.guest_email %}{{target.order.buyer.guest_email}}{% else %}{{target.order.customer_email}}{% endif %}!{% else %}}<a href="/profile/{{target.order.buyer.username}}/">{{target.order.buyer.username}}</a>.</p>{% endif %}

{% if target.status == 0 %}
<p><strong>NOTE: THIS IS A WAITLISTED ORDER.</strong></p>
{% endif %}

<p>Here's a preview of their order description:</p>

<div class="message-preview">
  {{target.details|markdown:"safe"}}
</div>
{% elif target.status == 3 %}
The buyer has submitted payment and the sale has been added to your queue.
{% elif target.status == 6 %}
This sale has been cancelled.
{% elif target.status == 7 %}
This sale has been disputed!
{% elif target.status == 8 %}
This sale has been finalized! Congratulations!
{% elif target.status == 9 %}
This sale has been refunded.
{% else %}
Your sale has been updated!
{% endif %}
{% endblock message %}

{% block action %}
<a href="/sales/{{target.order.seller.username}}/sale/{{target.order.id}}/deliverables/{{target.id}}">View your sale here!</a>
{% endblock %}