{% extends 'email_base.html' %}
{% block header_message %}Trouble with your service renewal{% endblock %}
{% block message %}
<p>
We're having some trouble renewing your subscription. This is most likely due to an issue with the card you have on file.
We'll retry a few more times, or you can try paying the invoice manually below.
</p>
<p>
  Here's the error we got: {{ data.error }}
</p>
{% endblock message %}

{% block action %}
<a href="/profile/{{target.username|urlencode:''}}/settings/payment/invoices/{{data.invoice_id}}">Update your payment information here!</a>
{% endblock %}
