{% extends 'email_base.html' %}
{% block header_message %}You've been issued an order token for '{{data.token.product.name}}' by {{data.token.product.user.username}}!{% endblock %}
{% block message %}
<p>
  An order token allows you to order a product even when it's not normally available. Your order token is:
</p>
<pre>{{data.token.activation_code}}</pre>
<p>You will need to log in to use this activation code. You can click the link below to use it now!</p>
<p>This token expires on {{data.token.expires_on|date:'Y-m-d H:i' }}, and the link below will not work after that time.</p>
<p>The artist should have contacted you about this order token previously. If they did not, please email support@artconomy.com and we'll look into it.</p>
{% endblock message %}

{% block action %}
<a href="/store/{{data.token.product.user.username}}/product/{{data.token.product.id}}/?order_token={{data.token.activation_code}}">Make your order now!</a>
{% endblock %}