{% extends 'email_base.html' %}
{% load md2 %}
{% block header_message %}New Comment{% endblock %}
{% block message %}
There was a new comment on your {{data.name}} by <a href="/profile/{{data.most_recent_comment.user.username}}/">{{data.most_recent_comment.user.username}}</a>. View it via the link below! Here's a preview:

<div class="message-preview">
  {{data.most_recent_comment.text|markdown:"safe"}}
</div>
<strong>Check the link below to reply! Do not reply to this email. It won't go anywhere.</strong>
{% endblock message %}

{% block action %}
{% if data.link.name == 'Message' %}
    <a href="/messages/{{user.username}}/message/{{data.link.params.messageID}}/">View your message here!</a>
{% elif data.link.name == 'Order' %}
    <a href="/orders/{{target.buyer.username}}/order/{{data.link.params.orderID}}/">View your sale here!</a>
{% elif data.link.name == 'Sale' %}
    <a href="/sales/{{target.buyer.username}}/sale/{{data.link.params.orderID}}/">View your sale here!</a>
{% endif %}
{% endblock %}