{% extends 'email_base.html' %}
{% block header_message %}New Comment{% endblock %}
{% block message %}
There was a new comment on your {{data.name}}. View it via the link below!
{% endblock message %}

{% block action %}
{% if data.link.name == 'Message' %}
    <a href="/messages/{{user.username}}/message/{{data.link.params.messageID}}/">View your message here!</a>
{% elif data.link.name == 'Order' %}
    <a href="/orders/{{target.buyer.username}}/order/{{data.link.params.orderID}}/">View your sale here!</a>
{% elif data.link.name == 'Sale' %}
    <a href="/sales/{{target.buyer.username}}/sale/{{data.link.params.orderID}}/">View your sale here!</a>
{% endif %}
{% endblock %}