{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": [
          ">1%"
        ]
      },
      "useBuiltIns": true
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}