<!-- Matomo -->
<script type="text/javascript">
var _paq = window._paq || []
// Don't track things that require cookies if the user has not consented.
_paq.push(['requireCookieConsent'])
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView'])
_paq.push(['enableLinkTracking']);
(function() {
  var u = 'https://artconomy.matomo.cloud/'
  _paq.push(['setTrackerUrl', u + 'matomo.php'])
  _paq.push(['setSiteId', '1'])
  var d = document; var g = d.createElement('script'); var s = d.getElementsByTagName('script')[0]
  g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = '//cdn.matomo.cloud/artconomy.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s)
})()
</script>
<!-- End Matomo Code -->
<!-- Pinterest Tag -->
<!-- Disabling pinterest tagging for now since we don't use it. When we re-enable it, we should have cookie consent banners that include it. -->
<!--<script type="text/javascript">-->
<!--    !function(e){var t=document.createElement("script");t.async=!0,t.src=e;var-->
<!--        r=document.getElementsByTagName("script")[0];-->
<!--        r.parentNode.insertBefore(t,r)}("https://s.pinimg.com/ct/core.js");-->
<!--</script>-->
<!-- end Pinterest Tag -->
