{% extends "base.html" %}
{% load bootstrap static sekizai_tags vuestrap %}
{% block vue_scripts %}
    {% vuestrap settings_form "ac-settings-form" %}
    {% vuestrap credentials_form "ac-credentials-form" %}
    <script>
        Vue.component.apply(Vue, AcSettingsForm);
        AcCredentialsForm[1].methods.success = function (response, event) {
            if (response.username !== "{{ target_user.username }}") {
                window.location = '/profiles/' + response.username + '/settings/'
            }
        };
        Vue.component.apply(Vue, AcCredentialsForm);
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <ac-settings-form ref="settings" url="/profiles/api/{{ target_user.username }}/settings/"
                              method="PATCH" succ="Your settings were updated successfully.">
                <div slot="footer">
                    <button class="btn btn-primary" @click.prevent="this.artconomy.$refs.settings.submit">Update Settings</button>
                </div>
            </ac-settings-form>
        </div>
        <div class="row mt-5">
            <ac-credentials-form ref="credentials" url="/profiles/api/{{ target_user.username }}/credentials/"
                                 method="PATCH" succ="Your credentials were updated successfully.">
                <div slot="footer">
                    <button class="btn btn-primary" @click.prevent="this.artconomy.$refs.credentials.submit">Update Credentials</button>
                </div>
            </ac-credentials-form>
        </div>
    </div>
{% endblock %}