{% extends 'email_base.html' %}
{% block header_message %}Welcome to Artconomy Landscape!{% endblock %}
{% block message %}
<p>Thank you for joining Artconomy! Because you used a promo code, you've received one month of Artconomy Landscape.</p>
<p>Artconomy Landscape gives you discounted rates when selling Shield-protected products, as well as special features.</p>
{% endblock message %}

{% block action %}
<a href="/faq/buying-and-selling/landscape">To learn more, check out our FAQ!</a>
{% endblock %}