{% extends 'email_base.html' %}
{% load md2 %}
{% block header_message %}Stripe has updated their Terms of Service{% endblock %}
{% block message %}
<p>Stripe is updating its legal terms. You can read the Stripe Connected Account Agreement
    (incorporating the Stripe Services Agreement) and related terms
    <a href="https://stripe.com/legal/connect-account">here</a>. The updates to the SSA will take effect
    on 24 February 2023. No action is needed from you, but by continuing to use Stripe’s services on or after that
    date, you are agreeing to the updated SSA. You can learn more about these updates on Stripe’s FAQ page
    <a href="https://support.stripe.com/questions/stripe-user-terms-update-17-november-2022">here.</a>
</p>
{% endblock message %}

{% block action %}
<a href="/profile/{user.username}/settings/payment/payout">View your payout settings here.</a>
{% endblock %}
