{% extends 'email_base.html' %}
{% load md2 %}
{% block header_message %}We have updated our terms of service{% endblock %}
{% block message %}
<p>We are reaching out to let you know that we have updated our terms of service. You may read the specific changes,
    in context, by <a href="https://github.com/Kelketek/artconomy/pull/30">visiting the link here.</a>
    These changes apply to all new accounts and will apply to your account thirty days from this notice
    (January 30, 2023.) No action is needed from you, but by continuing to use Artconomy’s services on or after that
    date, you are agreeing to the updated terms.
</p>
<p>We strive to make our changes as transparent as possible and incorporate community feedback. The changes were
    proposed to and reviewed first by artists and commissioners on our <a href="https://discord.gg/4nWK9mf">Discord</a>
    and following us on <a href="https://twitter.com/ArtconomyArt/">Twitter</a>. We encourage you to join the
    conversation!
</p>
{% endblock message %}

{% block action %}
<a href="/legal-and-policies/terms-of-service">View the full terms of service here.</a>
{% endblock %}
