{% extends 'email_base.html' %}
{% load md2 %}
{% block header_message %}We are updating our terms of service{% endblock %}
{% block message %}
<p>We are reaching out to let you know that we are updating our terms of service effective March 29th, 2024. You may read
    the specific changes, in context, by <a href="https://github.com/Kelketek/artconomy/pull/59">visiting the link here.</a>
    The changes are available for public comment at the provided link, and may be modified based on those comments.
</p>
<p>If you are OK with these changes, you need not do anything-- they will automatically take effect March 29th, 2024.
    However, if you do not wish to accept these changes, you may close your account using the
    <a href="/my/Login%20Details">'Delete my account' button in your control panel here.</a>
</p>
{% endblock message %}

{% block action %}
<a href="https://github.com/Kelketek/artconomy/pull/59">View the changes here.</a>
{% endblock %}
