{% extends 'email_base.html' %}
{% block header_message %}Password Reset{% endblock %}
{% block message %}
Someone, hopefully you, requested a password reset for your account with the username {{ user.username }} and this email, {{ user.email }}.
If this was not you, please ignore this email or contact support.

If it was, please click the link below to reset your password.
{% endblock message %}

{% block action %}
  <a href="/set-password/{{user.username}}/{{user.reset_token}}/">Reset my password now!</a>
  <p>
    <small>If the above link does not work, try visiting this address manually: https://artconomy.com/set-password/{{user.username}}/{{user.reset_token}}/</small>
  </p>
{% endblock %}