{% load vuestrap sekizai_tags %}
{% addtoblock "vue_templates" %}
    {% vuestrap product_form "ac-product-form" %}
    <script type="text/x-template" id="new-product">
        <form>
            <b-modal ref="newProductModal" title="Add a product">
                <ac-product-form ref="newProductForm" url="/sales/api/{{ target_user.username }}/products/"></ac-product-form>
                <div slot="modal-footer">
                    <b-button @click="hideNewProduct">Cancel</b-button>
                    <b-button variant="primary" @click.prevent="submit" type="submit">Create</b-button>
                </div>
            </b-modal>
        </form>
    </script>
{% endaddtoblock %}
{% addtoblock "vue_templates" %}
    {% verbatim %}
    <script type="text/x-template" id="edit-product">
        {% endverbatim %}
        <form>
            <b-modal ref="editProductModal" title="Edit product">
                <ac-product-edit-form ref="editProductForm" :container="this" :product='product' :initial="product" method="PATCH" :url="'/sales/api/{{ target_user.username }}/products/' + product.id +'/'"></ac-product-edit-form>
                <div slot="modal-footer">
                    <b-button @click="hideEditProduct">Cancel</b-button>
                    <b-button variant="primary" @click.prevent="submit" type="submit">Update</b-button>
                </div>
            </b-modal>
        </form>
    </script>
{% endaddtoblock %}
<script>
    AcProductEditSettings = $.extend(true, {}, AcProductForm[1]);
    AcProductEditFormSettings = $.extend(true, {}, AcProductForm[1]);
    AcProductForm[1]['methods'].success = function(response) {
        this.$root.productList.push(response);
        this.$root.$emit('submit-product');
        this.reset();
        this.enable();
    };
    AcProductEditFormSettings.methods.success = function (response) {
        var index = this.$root.productList.indexOf(this.product);
        Vue.set(this.$root.productList, index, response);
        this.container.hideEditProduct();
    };
    $.extend(
        AcProductEditFormSettings.props,
        {
            'container': {},
            'product': {}
        }
    );
    $.extend(
        AcProductEditSettings.methods,
        {
            'hideEditProduct': function () {
                this.$refs.editProductModal.hide()
            },
            'submit': function() {
                this.$refs.editProductForm.submit();
            }
        }
    );
    Vue.component.apply(Vue, AcProductForm);
    Vue.component('ac-product-edit-form', AcProductEditFormSettings);
    $.extend(
        AcProductEditSettings.props,
        {'product': {}, 'container': {}}
    );
    AcProductEditSettings.template = fetchTemplate('edit-product');
    Vue.component('ac-product-edit', AcProductEditSettings);
    // This is going to be in the root in this case.
    artconomy_params['methods'].showNewProduct = function () {
        this.$refs.newProduct.showNewProduct()
    };
    var AcNewProductSettings = {
        'props': [],
        'template': fetchTemplate('new-product'),
        'methods': {
            'showNewProduct': function () {
                this.$refs.newProductModal.show()
            },
            'hideNewProduct': function () {
                this.$refs.newProductModal.hide()
            }
        },
        'created': function () {
            this.$root.$on('submit-product', this.hideNewProduct)
        },
        'destroyed': function () {
            this.$root.$off('submit-product', this.hideNewProduct)
        }
    };
    $.extend(AcNewProductSettings.methods, ComponentHelpers());
    AcNewProductSettings.methods.submit = function () {
        this.$refs.newProductForm.submit();
    };
    Vue.component('ac-new-product', AcNewProductSettings)
</script>