{% load sekizai_tags vuestrap %}
{% addtoblock "vue_templates" %}
    <script type="text/x-template" id="revision-template">
        <div class="jumbotron col-sm-12 pt-1">
            <div class="character-refsheet-container text-center">
                <img class="character-refsheet" :src="revision.file"/>
                <div>
                    <b-button v-if="controls" variant="danger" @click.prevent="remove"><i class="fa fa-trash-o"></i> Delete</b-button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="new-revision-template">
        <div class="new-revision">
            <form>
                <input type="file" name="file" :disabled="fields._disabled" ref="fileInput" />
                <b-button variant="primary" @click.prevent="submit" :disabled="fields._disabled"><i class="fa fa-upload"></i> Upload Revision</b-button>
            </form>
        </div>
    </script>
{% endaddtoblock %}
<script>
    Vue.component(
        'ac-revision', {
            'template': fetchTemplate('revision-template'),
            'props': ['revisionobj', 'revisions', 'controls'],
            'data': function () {
                return {'revision': this.revisionobj}
            },
            'methods': {
                'remove': function () {
                    artCall(
                        '/sales/api/order/' + this.revision.order + '/revisions/' + this.revision.id + '/',
                        'DELETE', undefined, this.postDelete
                    )
                },
                'postDelete': function () {
                    var index = this.revisions.indexOf(this.revision);
                    this.revisions.splice(index, 1);
                }
            }
        }
    );
    var NewRevisionSettings = {
        'template': fetchTemplate('new-revision-template'),
        'props': BaseFormProps(),
        'methods': ComponentHelpers()
    };
    NewRevisionSettings['props']['fields'] = {
        'default': function () {
            return {
                '_meta': {}, 'file': '', '_disable': false
            }
        }
    };
    NewRevisionSettings['methods']['success'] = function (response) {
        this.$root.revisions.push(response);
        this.$refs.fileInput.value = null;
    };
    Vue.component(
        'ac-new-revision', NewRevisionSettings
    );
</script>