{% load sekizai_tags %}
{% addtoblock "vue_templates" %}
    <script type="text/x-template" id="asset-update">
        <form>
            <b-modal ref="update" title="Edit image">
                <ac-image-edit ref="updater" :character="character" :current="current" :initial="current" :url="url"></ac-image-edit>
                <div slot="modal-footer">
                    <b-button @click="hideUpdater">Cancel</b-button>
                    <b-button variant="primary" @click.prevent="submit" type="submit">Update</b-button>
                </div>
            </b-modal>
        </form>
    </script>
{% endaddtoblock %}
<script>
    var AcAssetUpdateSettings = {
        'props': ['character', 'current', 'initial'],
        'template': fetchTemplate("asset-update"),
        'methods': {
            'showUpdater': function() {
                this.$refs.update.show()
            },
            'hideUpdater': function() {
                this.$refs.update.hide()
            }
        },
        'created': function () {
            this.$root.$on('update-image', this.hideUpdater)
        },
        'destroyed': function () {
            this.$root.$off('update-image', this.hideUpdater)
        },
        'computed': {
            'url': function () {
                return '/profiles/api/{{ target_user.username }}/characters/' + encodeURIComponent(this.character.name) + '/asset/' + this.current.id + '/'
            }
        }
    };
    $.extend(AcAssetUpdateSettings.methods, ComponentHelpers());
    AcAssetUpdateSettings.methods.submit = function () {
        this.$refs.updater.submit();
    };
    Vue.component(
        'ac-asset-update', AcAssetUpdateSettings
    );
</script>