{% load sekizai_tags vuestrap %}
{% addtoblock "vue_templates" %}
    {% vuestrap image_upload_form "ac-image-upload" formless=True %}
    <script type="text/x-template" id="asset-upload">
        <div class="upload-button">
            <form>
                {% verbatim %}
                <b-button variant="primary" @click="showModal">Upload Image</b-button>
                <b-modal ref="upload" :title="'Upload new image for ' + character.name">
                    <ac-image-upload ref="uploader" :url="url" :character="character"></ac-image-upload>
                    <div slot="modal-footer">
                        <b-button @click="hideModal">Cancel</b-button>
                        <b-button variant="primary" @click.prevent="submit" type="submit">Upload</b-button>
                    </div>
                </b-modal>
                {% endverbatim %}
            </form>
        </div>
    </script>
{% endaddtoblock %}
<script>
    AcImageUpload[1].props.character = {};
    AcImageUpload[1].methods.success = function (response) {
        this.character.assets.push(response);
        this.$root.$emit('submit-image')
    };
    Vue.component.apply(Vue, AcImageUpload);
</script>
<script>
    var AcAssetUploadSettings = {
        'props': {
            'character': {},
            'initial': {},
            'container': {}
        },
        'template': fetchTemplate("asset-upload"),
        'methods': {
            'showModal': function () {
                this.$refs.upload.show()
            },
            'newImage': function () {
                this.hideModal();
                this.container.setIndex(this.character.assets.length - 1);
            },
            'hideModal': function () {
                this.$refs.upload.hide()
            }
        },
        'created': function () {
            this.$root.$on('submit-image', this.newImage);
        },
        'destroyed': function () {
            this.$root.$off('submit-image', this.hideModal)
        },
        'data': function() {
            var self = this;
            return {
                'url': '/profiles/api/{{ target_user.username }}/characters/' + encodeURIComponent(self.character.name) + '/asset/',
            }
        }
    };
    $.extend(AcAssetUploadSettings.methods, ComponentHelpers());
    AcAssetUploadSettings.methods.submit = function () {
        this.$refs.uploader.submit();
    };
    Vue.component(
        'ac-asset-upload', AcAssetUploadSettings
    );
</script>