{% load vuestrap sekizai_tags %}
{% vuestrap new_character_form "ac-character-form" %}
{% addtoblock "vue_templates" %}
    <script type="text/x-template" id="new-character">
        <form>
            <b-modal ref="newCharModal" title="Add a character">
                <ac-character-form ref="newCharForm" url="/profiles/api/{{ target_user.username }}/characters/"></ac-character-form>
                <div slot="modal-footer">
                    <b-button @click="hideNewChar">Cancel</b-button>
                    <b-button variant="primary" @click.prevent="submit" type="submit">Create</b-button>
                </div>
            </b-modal>
        </form>
    </script>
{% endaddtoblock %}
{% addtoblock "vue_templates" %}
    {% verbatim %}
    <script type="text/x-template" id="edit-character">
    {% endverbatim %}
        <form>
            <b-modal ref="editCharModal" title="Edit character">
                <ac-character-edit-form ref="editCharForm" :container="this" :character='character' :initial="character" method="PATCH" :url="'/profiles/api/{{ target_user.username }}/characters/' + character.name +'/'"></ac-character-edit-form>
                <div slot="modal-footer">
                    <b-button @click="hideEditChar">Cancel</b-button>
                    <b-button variant="primary" @click.prevent="submit" type="submit">Update</b-button>
                </div>
            </b-modal>
        </form>
    </script>
{% endaddtoblock %}
<script>
    AcProductEditSettings = $.extend(true, {}, AcCharacterForm[1]);
    AcProductEditFormSettings = $.extend(true, {}, AcCharacterForm[1]);
    AcCharacterForm[1]['methods'].success = function(response) {
        this.$root.characterList.push(response);
        this.$root.$emit('submit-character');
        this.reset();
        this.enable();
    };
    AcProductEditFormSettings.methods.success = function (response) {
        var index = this.$root.characterList.indexOf(this.character);
        Vue.set(this.$root.characterList, index, response);
        this.container.hideEditChar();
    };
    $.extend(
        AcProductEditFormSettings.props,
        {
            'container': {},
            'character': {}
        }
    );
    $.extend(
        AcProductEditSettings.methods,
        {
            'hideEditChar': function () {
                this.$refs.editCharModal.hide()
            },
            'submit': function() {
                this.$refs.editCharForm.submit();
            }
        }
    );
    Vue.component.apply(Vue, AcCharacterForm);
    Vue.component('ac-character-edit-form', AcProductEditFormSettings);
    $.extend(
        AcProductEditSettings.props,
        {'character': {}, 'container': {}}
    );
    AcProductEditSettings.template = fetchTemplate('edit-character');
    Vue.component('ac-character-edit', AcProductEditSettings);
    // This is going to be in the root in this case.
    artconomy_params['methods'].showNewChar = function () {
        this.$refs.newChar.showNewChar()
    };
    var AcNewCharacterSettings = {
        'props': [],
        'template': fetchTemplate('new-character'),
        'methods': {
            'showNewChar': function () {
                this.$refs.newCharModal.show()
            },
            'hideNewChar': function () {
                this.$refs.newCharModal.hide()
            }
        },
        'created': function () {
            this.$root.$on('submit-character', this.hideNewChar)
        },
        'destroyed': function () {
            this.$root.$off('submit-character', this.hideNewChar)
        }
    };
    $.extend(AcNewCharacterSettings.methods, ComponentHelpers());
    AcNewCharacterSettings.methods.submit = function () {
        this.$refs.newCharForm.submit();
    };
    Vue.component('ac-new-character', AcNewCharacterSettings)
</script>