---
- name: Install NginX
  apt:
    name:
      - nginx
      - nginx-extras
      - python-requests
    state: present

- name: Link ssl certs
  file:
    path: /etc/nginx/ssl
    state: link
    src: /etc/letsencrypt/live/{{ domains[0] }}

- name: Create include file directory
  file: path=/etc/nginx/includes state=directory

- name: Create special file directory
  file: path="/home/{{env_prefix}}/static/" state=directory

- name: Copy base NginX configuration
  template: src="templates/server_base" dest="/etc/nginx/sites-available/artconomy"
  notify:
    - reload nginx

- name: Add NginX site configuration templates
  template: src=templates/includes/{{ item }}.conf dest=/etc/nginx/includes/{{ item }}.conf
            owner=root group=root mode=0600
  with_items:
    - backends
    - extra
    - ssl
    - upstream
  notify:
    - reload nginx

- name: Ensure real IP configuration
  copy:
    content: ""
    dest: /etc/nginx/includes/real_ip.conf
    force: no
    group: root
    owner: root
    mode: 0755

- name: Add cron task for Cloudflare configuration
  copy:
    src: files/cloudflare_ips.py
    dest: /etc/cron.hourly/cloudflare_ips.py
    owner: root
    group: root
    mode: 0755

- name: Add NginX extra configuration templates
  template: src=templates/conf.d/{{ item }}.conf dest=/etc/nginx/conf.d/{{ item }}.conf
  with_items:
    - pci
  notify:
    - reload nginx

- name: Set default host
  copy:
    src: files/default
    dest: /etc/nginx/sites-available
  notify:
    - reload nginx

- name: Ensure sites-enabled directory
  file: path="/etc/nginx/sites-enabled" state=directory
  notify:
    - reload nginx

- name: Ensure link to default host
  file:
    dest: /etc/nginx/sites-enabled/default
    src: /etc/nginx/sites-available/default
    state: link
  notify:
    - reload nginx

- name: Enable vhost for app
  file: src="/etc/nginx/sites-available/artconomy" dest="/etc/nginx/sites-enabled/artconomy" state=link
  notify:
    - reload nginx

- name: Ensure NginX is running
  service:
    name: nginx
    enabled: yes
    state: started
