fieldset {
  border: 0
}

.vue-form-generator .error {
  background-color: transparent !important;
}

.vue-form-generator .form-group > label:first-child, .vue-form-generator .hint, .vue-form-generator .errors {
  display: none
}

img {
  max-width: 100%;
}

#app a {
  color: #fff;
  font-weight: bold
}

#app p a, #app ul a, #app ol a, #app .v-jumbotron__content a {
  color: #fff;
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.content--wrap .container.fluid:first-child {
  padding-top: 48px;
}

.container.fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.highlight-icon:hover {
  text-shadow:1px 1px 3px #fff, 1px 1px 10px #ccc;
}