fieldset {
  border: 0
}

.vue-form-generator .error {
  background-color: transparent !important;
}

.vue-form-generator .form-group > label:first-child, .vue-form-generator .hint, .vue-form-generator .errors {
  display: none
}

img {
  max-width: 100%;
}

#app a {
  color: #fff;
  font-weight: bold
}

.clickable {
  cursor: pointer;
}

.content--wrap .container.fluid:first-child {
  padding-top: 48px;
}

.container.fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}