[Install]
WantedBy=multi-user.target

[Unit]
Description=Artconomy Uppy Companion
After=network.target

[Service]
Type=simple
User={{ env_prefix }}
WorkingDirectory=/home/{{ env_prefix }}/artconomy/
{% for key, value in companion_settings.env.items() %}
Environment={{key}}='{{value}}'
{% endfor %}
{% for key, value in companion_settings_complex.env.items() %}
Environment={{key}}='{{value|to_json}}'
{% endfor %}
# This has been known to occasionally change for some reason-- be on the lookout for it.
ExecStart=/home/{{ env_prefix }}/artconomy/node_modules/@uppy/companion/bin/companion
