[Unit]
Description=SPA Prerender service

[Service]
User=prerender
Group=www-data
Type=forking
ExecStart=/home/prerender/prerender/node_modules/forever/bin/forever -l /home/prerender/prerender.log -e /home/prerender/prerender.err -a start /home/prerender/prerender/server.js {{domains[0]}}
ExecStop=/home/prerender/prerender/node_modules/forever/bin/forever stop /home/prerender/prerender/server.js
RemainAfterExit=no
KillMode=process

[Install]
WantedBy=multi-user.target
