<!DOCTYPE html>
{% load django_vite %}
{% load render_vite_bundle %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <link rel="icon" type="image/png" href="/static/images/logo.png">
  {% for link in image_links %}
    <meta name="og:image" content="{{link}}" />
    <meta name="twitter:image" content="{{link}}" />
  {% empty %}
    <meta name="og:image" content="{{base_url}}/static/images/twitter-card.jpg" />
    <meta name="twitter:image" content="{{base_url}}/static/images/twitter-card.jpg" />
  {% endfor %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ArtconomyArt" />
  <meta name="og:title" content="{{title}}" />
  <meta name="og:description" content="{{description}}" />
  {% if settings.DEBUG %}
  <script type="module">
    import { inject } from "/vite/@vite-plugin-checker-runtime";
    inject({
      overlayConfig: {},
      base: "/public/",
    });
  </script>
  {% vite_hmr_client %}
  {% vite_asset "main.ts" %}
  {% else %}
  {% render_vite_bundle %}
  {% endif %}

  <title>{{title}}</title>
</head>
<body>
{{ settings.SANDBOX_APIS|json_script:"card-test-flag" }}
<script>
  {% if request.META.HTTP_X_PRERENDER == '1' %}PRERENDERING = 1;{% else %}PRERENDERING = 0;{% endif %}
  USER_PRELOAD={{ user_serialized|safe }};
  RECAPTCHA_SITE_KEY='{{ recaptcha_key }}';
  STRIPE_PUBLIC_KEY = "{{ settings.STRIPE_PUBLIC_KEY }}";
  DEFAULT_CARD_PROCESSOR = "{{ settings.DEFAULT_CARD_PROCESSOR }}";
  DEFAULT_SERVICE_PLAN_NAME = "{{ settings.DEFAULT_SERVICE_PLAN_NAME }}";
  SANDBOX_APIS = JSON.parse(document.getElementById('card-test-flag').textContent);
</script>
<div id="app"></div>
{% include env_file %}

<script type="text/javascript">
  window._drip = function () {}
</script>
<noscript>
  <p>Hey, we're one of those newfangled single page apps, so please enable JavaScript or the site won't work!</p>
</noscript>
{% for mastodon in mastodon_profiles %}
<a rel="me" aria-hidden="true" class="d-none" href="{{mastodon}}"></a>
{% endfor %}
</body>
</html>
